$green-apple: #a9e190;
$fiery-rose: #ef626c;
$raisin-black: #1e1e24;

.App {
  text-align: center;
  color: $raisin-black;
  margin: 0 1% 1%;
}

.App-header {
  display: flex;
  align-content: space-between;
  background-color: #fff;
  text-align: left;
  border: 5px solid $green-apple;
  border-radius: 5px;
}

.App-titles {
  h1 {
    padding: 0 20px;
    color: $green-apple;
  }

  h4 {
    padding: 0 20px;
    margin-top: -20px;
    color: $green-apple;
  }
}
