$green-apple: #a9e190;
$fiery-rose: #ef626c;
$raisin-black: #1e1e24;

.TaskContainer {
  color: $raisin-black;
  margin: 30px auto 0;
  border: 2px solid $raisin-black;
  border-radius: 5px;
  max-width: 400px;
  display: flex;
  justify-content: space-around;
}

.TaskContent {
  padding: 20px;
}
